.button{
    width: 100%;
    height: 34px;
    display: flex; 
    justify-content: center;
    align-items: center; 

}
.mail-btn,.linkedin-btn{
    width:115px;
    height: 34px;
    display: flex;
    justify-content: center;  
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    border-radius: 6px;  
}
.mail-btn{
    margin-right:17px;
}
.linkedin-btn{
    background-color: #5093E2;
    color: #fff;
}
.mail,.linkedin{
    margin-right: 8px;
}
